@model IEnumerable<EscuelaTCSDB.Models.GrupoPersona>
@{
    ViewBag.Title = "Asignacion Grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Asignacion Grupos</h2>
@Html.ActionLink("Nueva Asignación", "Create", null, new { @class = "btn btn-primary pull-left" })
@Html.ActionLink("Cargar desde Excel", "Excel", null, new { @class = "btn btn-success pull-right" })
<table class="table" id="tabla-asignacion">
    <thead>
        <tr>
            <th>#</th>
            <th>Grupo</th>
            <th>Materia</th>
            <th>Ciclo</th>
            <th>Persona</th>
            <th>Profesor</th>
        </tr>
        
    </thead>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabla-asignacion').DataTable({
                ajax: {
                    url: "/api/GruposPersona",
                    dataSrc: ""
                },
                columns: [
                    {data: "id"},
                    { data: "grupo.codigo" },
                    { data: "materia.nombre" },
                    { data: "ciclo.descripcion" },
                    {
                        data: "persona.nombre",
                        render: function (data, type, obj) {
                            return obj.persona.nombre + " " + obj.persona.apellido;
                        }
                    },
                    { data: "profesor.email" }
                ],
            });


        });
    </script>    
}
