@model EscuelaTCSDB.Models.ViewModel.CalificacionesViewModel
@{
    ViewBag.Title = "Agregar Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Agregar Calificaciones</h1>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @if (ViewBag.ListaGrupos != null)
                {
                    @Html.Label("Grupo")
                    @Html.DropDownList("Grupo_Id", ViewBag.ListaGrupos as SelectList, "- Selecciona Grupo--", new { @class = "form-control", id = "Grupo_Id" })
                }
            </div>
            <div class="form-group" id="containerDDLCiclo">
                @{Html.RenderAction("obtenerCiclos", new { id_grupo = -1 }); }
            </div>
            <div class="form-group" id="containerDDLMateria">
                @{Html.RenderAction("obtenerMaterias", new { id_grupo = -1, id_ciclo = -1 }); }
            </div>
            <div class="form-group" id="containerDDLPeriodo">
                @{Html.RenderAction("obtenerPeriodos", new { id_grupo = -1, id_ciclo = -1 , id_materia = -1}); }
            </div>

        </div>
        <div class="col-sm-9">
            <div id="containerListaCalificaciones">
                @{Html.RenderAction("Filtrar", new { id_grupo = -1, id_ciclo = -1, id_materia = -1, periodo = -1 });}
            </div>
         </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var ddlGrupo = $("#Grupo_Id");
            $("#Grupo_Id").change(function () {

                var value = ddlGrupo.val();
                //realizamos una solicitud al controlador
                $.ajax({
                    url: "/Calificacion/obtenerCiclos",
                    method: "post",
                    data: { id_grupo: value },
                    dataType: "html"
                }).done(function (result) {
                    console.log(result);
                    $('#containerDDLCiclo').html(result);
                    $('#ddlCiclo').removeAttr('disabled');
                    $("#ddlCiclo").change(llenaMateria);

                });
            });

            var llenaMateria = function () {
                var ddlCiclo = $(this);
                var id_ciclo = ddlCiclo.val();
                var id_grupo = ddlGrupo.val();
                //
                $.ajax({
                    url: "/Calificacion/obtenerMaterias",
                    method: "post",
                    data: { id_grupo: id_grupo, id_ciclo: id_ciclo },
                    dataType: "html"
                }).done(function (result) {
                    console.log("done de materia");
                    $("#containerDDLMateria").html(result);
                    $("#ddlMateria").removeAttr('disabled');
                    $("#ddlMateria").change(llenaPeriodo);
                });
            }

            var llenaPeriodo = function () {
                console.log("periodo ");
                var ddlMateria = $(this);
               var id_grupo = $("#Grupo_Id").val();
                var id_grupo = $("#Grupo_Id").val();
                var id_ciclo = $("#ddlCiclo").val();
                var id_materia = ddlMateria.val();
                $.ajax({
                    url: "/Calificacion/obtenerPeriodos",
                    method: "post",
                    data: { id_grupo: id_grupo, id_ciclo: id_ciclo, id_materia: id_materia },
                    datatype: "html"
                }).done(function (result) {
                    console.log(result);
                    $("#containerDDLPeriodo").html(result);
                    $("#ddlPeriodo").removeAttr('disabled');
                    $("#ddlPeriodo").change(llenaFiltro);
                });
            }
            //otro             

            var llenaFiltro = function () {
                var ddlPeriodo = $(this);
                var periodo = ddlPeriodo.val();
                var id_grupo = $("#Grupo_Id").val();
                var id_ciclo = $("#ddlCiclo").val();
                var id_materia = $("#ddlMateria").val();

                $.ajax({
                    url: "/Calificacion/Filtrar",
                    method: "post",
                    data: { id_grupo: id_grupo, id_ciclo: id_ciclo, id_materia: id_materia, periodo: periodo },
                    datatype: "html"
                }).done(function (result) {
                    console.log("resultado bien");
                    console.log(result);
                    $("#containerListaCalificaciones").html(result);
                    $(".btn_agregar").click(agregaCalificacion);
                });
            }

            var agregaCalificacion = function () {
                var actual = $(this);
                var calificacion_actual = actual.attr('cal_actual');
                var calif_id = actual.attr('id_calif');
                var calificacion_nueva = $('#txtCalif_' + calif_id).val();
               
                $.ajax({
                    url: "/Calificacion/AgregarCalificaciones",
                    method: "post",
                    data :{ id_gpp: calif_id, calActual: calificacion_actual, calNueva: calificacion_nueva },
                    dataType: "html"
                }).done(function (result) {
                    alert("Guardado");
                });
            }
        });
        

       
       

        
        
    </script>
}